@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


@font-face {
    font-family: 'Monument Extended';
    src: url('/fonts/MonumentExtended-Regular.ttf') format('truetype'),
         url('/fonts/MonumentExtended-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html, body {
    background-color: black;
    font-family: 'Monument Extended';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.image-contrainer{
  display: flex;
}

.image-item {
  margin-right: 10px;
}

/* Remove unnecessary margins for sections */
section {
    background-color: transparent; /* Ensure background is transparent */
    color: #FFFFFF;
    padding: 1.25rem; /* Adjust padding as needed */
    margin-top: 0; /* Reset margin-top */
    margin-bottom: 0; /* Reset margin-bottom */
}

.svg-small {
    width: 500px;
    height: auto;
}

/* Specific class for Hero Section */
.hero-section {
    padding: 2rem; /* Adjust padding for Hero Section */
}

/* Specific class for Guide Section */
.guide-section {
    padding: 2rem; /* Adjust padding for Guide Section */
}

.transparent-svg {
    background-color: transparent;
    width: 1550px;
    height: 400px;
}

.svg-large {
    width: 80%;
    max-width: 800px;
    height: auto;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out-left {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slide-out-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.slide-in-left {
    animation: slide-in-left 1s ease-out;
}

.slide-in-right {
    animation: slide-in-right 1s ease-out;
}

.slide-out-left {
    animation: slide-out-left 1s ease-in;
}

.slide-out-right {
    animation: slide-out-right 1s ease-in;
}

.slide-in, .slide-out {
    opacity: 0;
}
/* Global or component-specific CSS */
.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  
  .burger-menu span {
    transition: all 0.3s ease-in-out;
  }
  
  /* Animation when menu is open */
  .burger-menu.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .burger-menu.open span:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.sidebar-menu {
    background-color: #232323; /* Default background color for mobile */
  }
  
  @media (min-width: 1024px) {
    .sidebar-menu {
        margin-left: 20px; /* Sesuaikan sesuai kebutuhan */
        padding: 20px; /* Sesuaikan sesuai kebutuhan */
      background-color: transparent; /* Transparent background for desktop */
    }
  }
  @media (max-width: 768px) {
    img[alt="Lingkaran Detail"] {
      top: 120%; /* Sesuaikan posisi vertikal */
      right: 50%; /* Pusatkan horizontal pada layar kecil */
      width: 300px; /* Sesuaikan ukuran gambar */
      height: 300px; /* Sesuaikan ukuran gambar */
      transform: translate(50%, -50%); /* Atur kembali transformasi untuk tampilan mobile */
    }
  
    h3#structure,
    p {
      z-index: 1;
      position: relative;
    }
  }
  .slick-slider {
    overflow-x: hidden; /* Hilangkan overflow horizontal */
  }
  
  .slick-list {
    -webkit-overflow-scrolling: touch; /* Berikan scroll yang lebih halus di perangkat seluler */
    overflow: hidden; /* Hilangkan scrollbar */
  }
  
  .slick-track {
    display: flex;
    align-items: center;
  }